
<form class="main-content" [formGroup]="form" (ngSubmit)="submit(0)">
    <h2 id="content-editor-title" class="notranslate">{{title}}</h2>
    <div class="form-group">
        <label id="title-label" for="title">{{titleInput}}</label>
        <input type="text" id="title" name="title" formControlName="title">
    </div>
    <div id="content-editor" class="form-group notranslate">
        <label id="editor-label" for="editor">{{contentInput}}</label>
        <ckeditor [editor]="Editor" [config]="conf" formControlName="content"></ckeditor>
    </div>
    <div class="form-group notranslate">
        <label style="cursor: pointer;">
            <span id="content-notice">{{noticeTxt}}</span>
            <input type="checkbox" name="agreement" formControlName="checked">
        </label>
    </div>
    <div class="form-actions notranslate">
        <button id="save-btn" type="submit" [disabled]="processing">{{btnText}}</button>
    </div>
</form>