<div class="main-content">
    <div class="main-container">
        <h2>
            <img src="/logo.png" alt="Logo" style="width:24px; margin-right:10px">안녕하세요. <strong>Kyou Create Net </strong>입니다.
        </h2><br/>
        
        <p>
            <strong>Kyou Create Net</strong>은 다양한 NFT 프로젝트 별 의견과 대화를 자유롭게 나누기 위한 통합 커뮤니티 입니다.
        </p>
        <p>
            프로젝트와 직접적으로 연결을 맺지 않기 때문에 커뮤니티 운영 정책에 벗어나지 않는 한
        </p>
        <p>
            통제 없이 자유로운 커뮤니케이션을 구성할 수 있습니다.
        </p>
        <p>
            <strong>현재 테스트 버전</strong> 오픈 입니다. <u>정식 오픈 시 이전 데이터는 사라질 수 있습니다.</u>
        </p>
        <p>
            테스트 버전 종료일은 8월 예정 입니다.
        <!-- </p>
        <p>
            추후에 게임 엔진을 도입한 웹 게임 형태의 채팅 시스템이 추가될 계획입니다.
        </p>--><br/> 
        <p>
            <strong>Contact :</strong> <i>vt118536&#64;gmail.com</i>
        </p>
        
    </div>
</div>