<div class="modal notranslate">
    <div class="modal-header">
        <h2>{{title}}</h2>
        <button class="close" (click)="closeModal()">✖</button>
    </div>
    <form class="modal-body" [formGroup]="signinForm" (ngSubmit)="submit()" >
        <button type="button" (click)="walletConnect()" [disabled]="isConnecting" >{{wallet}}</button>
        <label for="nickname">{{nicknameInput}}</label>
        <input type="text" id="nickname" name="nickname" readonly [value]="nickname">
        <label for="password">{{passwordInput}}</label>
        <input type="password" id="password" formControlName="password">
        <button type="submit"  [disabled]="isSignining">{{submitBtn}}</button>
    </form>
  </div>
  
  <div class="background"></div>