<div class="modal notranslate">
    <div class="modal-header">
        <h2>{{title}}</h2>
        <button class="close" (click)="closeModal()">✖</button>
    </div>
    <div class="modal-body">
        <button>Wallet Connect</button>
        <label for="username">{{nicknameInput}}</label>
        <input type="text" id="username" name="username" readonly>
        <label for="password">{{passwordInput}}</label>
        <input type="password" id="password" name="password">
        <button>{{submitBtn}}</button>
    </div>
  </div>
  
  <div class="background"></div>