<div class="sidebar notranslate">
    <button id="about-btn" (click)="goPage('about')">About</button>
    <button id="notice-btn" (click)="goPageWithType('board', 'notice')">{{notice_btn}}</button>
    <button id="openForum-btn" (click)="goPageWithType('board', 'free')">{{openForum_btn}}</button>
    
    <hr style="margin-top: 20px;"/>
    <strong style="color: rgb(0, 40, 76); ">Navigate to the NFT community</strong>
    <div style="display: flex; margin-top: 10px;">
        
        <input id="search-input" type="text" placeholder="Input your NFT Contract Address" [(ngModel)] = "keyowrd">
        <button id="search" class="search" (click)="goPageWithType('board', keyowrd)">{{search}}</button>
    </div>
    
</div>