<div class="main-content">
    <h2 style="margin: 0 0 20px 0px;" class="notranslate" id="board-title">{{boardTitle}}</h2>
    <div class="notranslate" style="display: flex;  margin-bottom: 10px;">
        <select class="search-select">
            <option *ngIf="(bordType != 'notice')">작성자</option>
            <option>제목</option>
            <option>내용</option>
        </select>
        <input type="text"/>
        <button class="search-btn">SEARCH</button>
    </div>
    
    <table>
        <thead>
            <tr class="notranslate">
                <th style="width:80%;">Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Post Title 1</td>
                <td>2024-06-01</td>
            </tr>
            <tr>
                <td>Post Title 2</td>
                <td>2024-06-02</td>
            </tr>
            <tr>
                <td>Post Title 3</td>
                <td>2024-06-03</td>
            </tr>
            <tr>
                <td>Post Title 4</td>
                <td>2024-06-04</td>
            </tr>
            <tr>
                <td>Post Title 5</td>
                <td>2024-06-05</td>
            </tr>
            <tr>
                <td>Post Title 6</td>
                <td>2024-06-06</td>
            </tr>
            <tr>
                <td>Post Title 7</td>
                <td>2024-06-07</td>
            </tr>
            <tr>
                <td>Post Title 8</td>
                <td>2024-06-08</td>
            </tr>
            <tr>
                <td>Post Title 9</td>
                <td>2024-06-09</td>
            </tr>
            <tr>
                <td>Post Title 10</td>
                <td>2024-06-10</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button *ngIf="canCreate" class="create-btn">작성</button>
    </div>   
    <div class="pagination notranslate">
        <button>Prev</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>Next</button>
    </div>
    
</div>