<div class="main-content">
    <h2 *ngIf="(bordType == 'notice' || bordType == 'free')" style="margin: 0 0 20px 0px;" class="notranslate" id="board-title" [innerHTML]="boardTitle"></h2>
    <div *ngIf="(bordType != 'notice' && bordType != 'free')" class="notranslate" style="margin: 0 0 20px 0px;">
        <strong style="font-size: x-large;">NFT </strong>
        <u (click)="openEtherScan(boardTitle)" style="cursor: pointer; font-size: large;" [innerText]="boardTitle"></u>
        <span style="font-size: larger;"> Community</span>
    </div>

    <div class="notranslate" style="display: flex;  margin-bottom: 10px;">
        <select class="search-select" (change)="setSelect($event)">
            <option value="title" selected>Title</option>
            <option *ngIf="(bordType != 'notice')" value="author">Author</option>
            <option value="content">Content</option>
        </select>
        <input id="searchInput" #searchInput type="text" [value]="keyword" />
        <button class="search-btn" (click)="search(searchInput.value)">SEARCH</button>
    </div>
    
    <table>
        <thead>
            <tr class="notranslate">
                <th style="width:60%;">Title</th>
                <th style="width:20%;">Author</th>
                <th style="width:20%;">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let board of boards" (click)="goDetail(board.contentId)" >
                <td>{{board.title}}</td>
                <td class="notranslate">{{board.author}}</td>
                <td>{{board.created}}</td>
            </tr>
            <tr *ngIf="boards.length == 0 && !isSearching">
                <td colspan="3" class="notranslate" style="text-align: center;">No Content Yet</td>
            </tr>
            <tr *ngIf="isSearching">
                <td colspan="3" class="notranslate" style="text-align: center;">...</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button (click)="goWrite()" *ngIf="canCreate" class="create-btn" >작성</button>
    </div>   
    <div class="pagination notranslate" id="pages">
        <button class="page-btn" (click)="goPage(page - 1)">&lt;</button>
        <button *ngFor="let p of pages"
            [ngClass]="page == p ? 'page-btn-activate' : 'page-btn'"
            (click)="goPage(p)"
            [disabled]="page == p">
            {{ p }}
        </button>
        <button class="page-btn" (click)="goPage(page + 1)">&gt;</button>
    </div>
    
</div>