<div class="main-content">
    <h2 style="margin: 0 0 20px 0px;" class="notranslate" id="board-title">{{boardTitle}}</h2>
    <div class="notranslate" style="display: flex;  margin-bottom: 10px;">
        <select class="search-select">
            <option *ngIf="(bordType != 'notice')">Author</option>
            <option>Title</option>
            <option>Content</option>
        </select>
        <input type="text"/>
        <button class="search-btn">SEARCH</button>
    </div>
    
    <table>
        <thead>
            <tr class="notranslate">
                <th style="width:60%;">Title</th>
                <th style="width:20%;">Author</th>
                <th style="width:20%;">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let board of boards" (click)="goDetail(board.contentId)">
                <td>{{board.title}}</td>
                <td class="notranslate">{{board.author}}</td>
                <td>{{board.created}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button (click)="goWrite()" *ngIf="canCreate" class="create-btn" >작성</button>
    </div>   
    <div class="pagination notranslate" id="pages">
        <button class="page-btn" (click)="goPage(page - 1)">&lt;</button>
        <button *ngFor="let p of pages"
            [ngClass]="page == p ? 'page-btn-activate' : 'page-btn'"
            (click)="goPage(p)"
            [disabled]="page == p">
            {{ p }}
        </button>
        <button class="page-btn" (click)="goPage(page + 1)">&gt;</button>
    </div>
    
</div>